BODY {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px; 
	BACKGROUND:#FFFFFF; 
	MARGIN: 0px;
	font-family: 'Arial'; 
	font-size: 12px;
	COLOR: #000000; 
	
}
table {
	font-family: 'Arial'; 
	font-size: 12px;
	COLOR: #000000; 
}

A {
	COLOR:#333333;
	TEXT-DECORATION:underline;
}

A:hover {
	TEXT-DECORATION:none;

}

h1 { font-size:16px; color:#333333 }
